//artifactory.digital.homeoffice.gov.uk/artifactory/api/npm/npm-virtual/:_auth=${NPM_AUTH_TOKEN}
//artifactory.digital.homeoffice.gov.uk/artifactory/api/npm/npm-virtual/:email=leonard.martin@digital.homeoffice.gov.uk
